.jakir{
   display: grid;
   grid-template-columns: repeat(3,2fr);
   align-items: center;
}
@media(max-width:320px){
   .jakir{
       grid-template-columns: repeat(1,1fr);
   }
}
@media(max-width:500px){
    .jakir{
        grid-template-columns: repeat(1,1fr);
    }
 }
